<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Dictionary Name</th>
      <th>Author</th>
      <th>Entries</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each(function(dictionary) { %>
    <tr class="clickable" data-id="<%= dictionary.get('_id') %>">
      <td><%= dictionary.get('display') %></td>
      <td><%= dictionary.get('author') %></td>
      <td><%= dictionary.get('entries') %></td>
      <td><a href="/entries/<%= dictionary.get('name') %>/"><span class="fa fa-list-ul"> View Entries</span></a></td>
      <td><a href="/entries/<%= dictionary.get('name') %>/"><span class="fa fa-edit"> Edit Entries</span></a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

