{% extends "navbar.html" %}
{% block styles %}
    <link href="/static/css/catalog.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<div class='container'>
  <div class="col-md-2">
    残酷
  </div>
  <div class="col-md-2">
    ざんこく
  </div>
  <div class="col-md-2">
    Cruelty
  </div>
  <div class="col-md-6">
    Example Sentence
  </div>
  <div class="col-md-6">
    <!-- empty -->
  </div>
  <div class="col-md-6">
    Example Sentence
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/catalog.js"></script>
    <script type="text/javascript">
      $(document).ready(initCatalog);
    </script>
{% endblock %}
