{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
<link href="/css/index.css" rel="stylesheet" type="text/css">
<script src="/partials/index.js" type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
{% endblock %}


{% block body %}
<div id="navbar">
</div>
<div id="std-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Dictionaries</h3>
          </div> <!-- .panel-heading -->
          <div class="panel-body">
            <div id="table-view" class="col-sm-12">
            </div> <!-- #table-view -->
          </div> <!-- .panel-body -->
        </div> <!-- .panel -->
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div>
<script type="text/javascript">
var App = function() {
}
_.extend(App.prototype, Backbone.Events, {
  collections: {
    dictionaries: new DictionaryCollection()
  },
  views: {
    navbar: new NavbarView({el : $('#navbar')})
  },
  start: function() {
    this.collections.dictionaries.fetch({reset: true});
    this.views.dictionaryTableView = new DictionaryTableView({
      el: $('#table-view'),
      collection: this.collections.dictionaries
    });
  }
});

var app = new App();

$(document).ready(function() {
    app.start();
});
</script>
{% endblock %}
