{% extends "navbar.html" %}
{% block styles %}
    <link href="/static/css/layout.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <section class="container">
  <div class="flip"> 
    <div id="card" class="card"> 
        <div class="face front"> 
          Front
        </div> 
        <div class="face back"> 
          Back
        </div> 
      </div> 
    </div> 

    <div class="footer-content col-xs-12 col-sm-6 col-lg-8">
      <div class="top-part">
        This should be bold
      </div>
      <div class="bot-part">
        <ruby>
          <rb>性懲</rb>
          <rt>しょうこ</rt>
        </ruby>
      </div>
    </div>
    <div class="side-content col-xs-6 col-lg-4">
    </div>

  </section>
{% endblock %}
{% block scripts %}
    <script src="/static/js/flip.js"></script>
    <script src="/static/js/nav.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        initFlip();
        initKeyHandlers();
        initNavbar();
        updateRandomCard();
        $('#navsel a').text('Random Mode');
      });
    </script>
{% endblock %}

